header{
    height:140px;
}

nav{
    margin: 0;
    height:50px;
    background-color:black;
    display: flex;
    align-items: center;
    
    
    
    

    
}

.ul1{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 68px;
    margin-bottom: 0;
}

nav .ul1 li{
    color:white;
}

nav .ul1 li{
padding-right: 48px;
border-right:2px dotted black;
font-size: 16px;
font-weight: 300;
line-height: 15px;
text-align: left;

}

header .hed{
    height:93px;
    background-color: gray;
}

.hed a{
    
 
}

.hed .divblock1 a .img1{
    margin-top: 16px;
}

.hed .divblock1 .p1{
    color:white;
    font-size: 13px;
    font-weight: 200;
    line-height: 25px;
    text-align: left;
}

.hed .divblock2{
    margin-top: 28px;
}

.hed .divblock2 .p2{
    color:white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 0px;
}

.hed .divblock2 .a2{
    color:white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height:0px;
}

button{
    margin-top: 18px;
    border:none;
    border-radius:6px;
    width:172px;
    height:52px;
    background-color:#1EACC7;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    color:white;
}

.sect1{
    height:799px;
    background:url(../img/uber_bg.png) center center/cover no-repeat;
}

.sect1 h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    color:white;
    padding-top: 80px;
}

.sect1 h2{
    color:white;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding-top: 20px;
}

.sect1 .p3{
    padding-top: 25px;
    color:white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.sect1 .p4{
    color:white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 15px;
}

.sect1 .button2{
    position: relative;
    top:100px;
    border:2px;
    display: block;
    margin: 0 auto;
    width:259px;
    height:63px;
    background-color:#1EACC7;
    font-size: 18px;
    font-weight: 400;
    line-height: 63px;
    text-align: center;
}

.sect2{
    min-height:780px;
    position: relative;
}

.sect2 .divsect2{

}

.sect2 .p5{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:113px;
    height:24px;
    background-color:black;
    color:white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
}

.sect2 .h2two{
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
    padding-top: 36px;
}

.sect2 .blockreas{
    position: relative;
    top:-10px;
    left:10px;
    vertical-align: middle;
    margin-right: 26px;
    border-radius:100%;
    background-color: #1EACC7;
    display: flex;
    justify-content: center;
    align-items: center;
    width:116px;
    height:116px;
}

.sect2 .blockreas .imgicon{

}

.sect2 .text_descr{
    width:371px;
}

.sect2 h6{
    margin-bottom: 0;
    color:#1EACC7;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

header .hed 

.sect2 p{
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
}

.sect2 .blockglav{
    margin-top: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect2 .row{
    margin-top: 18px;
}

.sect3{
    min-height:864px;
    background:url(../img/mobile_bg.png);
}

.sect3 .p6{
    position: relative;
    top:45px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width:115px;
    height:27px;
    background-color:black;
    color:white;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
}

.sect3 .h2mobile{
    padding-top: 78px;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.sect3 .p7{
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.sect3 .card{
    display: block;
    margin: 0 auto;
    background-image:url(../img/cardone.png);
    width:320px;
    height:280px;
    margin-top: 18px;
}

.sect3 .card .plus{
    top:70px;
    margin: 0 auto;
    position: relative;
    border-radius:50%;
    width:29px;
    height:29px;
    background-color: black;
}

.sect3 .card .p8{
    padding-top: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color:white;
    text-align: center;
}

.sect3 .card .plus:after{
    position: absolute;
    transform:translate(-50%);
    left:28%;
    transform:translateY(-50%);
    top:50%;
    display:block;
    margin: 0 auto;
    background-color:#1EACC7;
    content:'';
    width:14px;
    height:2px;
}

.sect3 .card .plus:before{
        position: absolute;
        transform:translate(-50%);
        left:47%;
        transform:translateY(-50%);
        top:50%;
        display:block;
        margin: 0 auto;
        background-color:#1EACC7;
        content:'';
        width:2px;
        height:14px;
}

.sect3 .card .plus:hover::after{
    background-color: yellow;
    cursor:pointer;
}

.sect3 .card .plus:hover::before{
    background-color: yellow;
    cursor:pointer;
}

.sect3 .row{
    margin: 0 52px;
}

.sect4{
    position: relative;
    min-height:899px;
    background:url(../img/podlojk.png);
}

.sect4 .divblack{
    
    top: 0;
    left: 0;
    height: 499px;
    width: 100%;
    background-color: #070716;
    z-index: 1;
    position: absolute;
    height:502px;
    background-color: black;

}

.sect4 .divblack .p9{
    position: relative;
    top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:115px;
    height:27px;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
    color:black;
    background-color: #fff;
}

.sect4 .divblack h2{
    padding-top: 80px;
    color:white;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.sect4 .divblack .p10{
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color:white;
}

.sect4 .divblack .uber{
    display: block;
    margin: 54px auto 0px auto;
    position: relative;
}

.sect4 .p12{
    left:50%;
    transform: translateX(-50%);
    bottom:150px;
    color:black;
    position: absolute;
    z-index: 3;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.sect5 .p15{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-transform: uppercase;
    background-color: black;
    width:115px;
    height:27px;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
}

.sect5 .h22{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding-top: 25px;
}


.sect5 .club{
    margin-top: 30px;
}

.sect5 .club h5{
    color:#1EACC7;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.sect5 .club .ul10{
    list-style-type: none;
    position: relative;
}

.sect5 .club .ul10 li{
    position: relative;
    margin-left: 28px;
    font-size: 17px;
    font-weight: 300;
    padding-top: 7px;
    line-height: 23px;
    text-align: left;
}

.sect5 .club .ul10 li::before{
    content:'';
    left:-32px;
    top:10px;
    position: absolute;
    display: block;
    width:21px;
    height:20px;
    background-image:url(../img/check_blue\ 1.png);
}

.sect5 .club .p22{
    color: #1CA8C3;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.sect5 .club2{
    margin-top: 28px;
}

.sect5 .club2 .h55{
    color:#1CA8C3;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.sect5 .club2 .ul22{
    list-style-type: none;
    margin-left: 20px;
    
}

.sect5 .club2 .ul22 li{
    position: relative;
    padding-top: 11px;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
}

.sect5 .club2 .ul22 li:before{
    content:'';
    display: block;
    width:21px;
    height:20px;
    background-image:url(../img/check_blue\ 1.png);
    position: absolute;
    left: -32px;
    top:13px;
}

.sect5 .club3{
    margin-top: 28px;
}

.sect5 .club3 .h555{
    color: #FF5656;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:pink;
}

.sect5 .club3 .ul555{
    list-style-type: none;
}

.sect5 .club3 .ul555 li{
    margin-left: 28px;
    position: relative;
    font-size: 17px;
    font-weight: 300;
    line-height: 29px;
    text-align: left;
}

.sect5 .club3 .ul555 li:before{
    top:6px;
    left:-32px;
    position: absolute;
    content:'';
    display: block;
    width:21px;
    height:20px;
    background-image: url(../img/check_blue\ 1.png);
}

.sect5 .club4{
    margin-top: 28px;
}

.sect5 .club4 .h5555{
    color: #FF5656;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.sect5 .club4 .ul5555{
    list-style-type: none;
}

.sect5 .club4 .ul5555 li{
    
    margin-left: 28px;
    position: relative;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

.sect5 .club4 .ul5555 li:before{
    content:'';
    background-image:url(../img/check_blue\ 1.png);
    position:absolute;
    width:21px;
    height:20px;
    display: block;
    left:-32px;
    top:6px;
}

.sect6{
    min-height:720px;
    background:url(../img/world_bg.png);
}

.sect6 .pworld{
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top:60px;
    width:79px;
    height:27px;
    background-color: #fff;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sect6 h3{
    color:white;
    padding-top: 80px;
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.sect6 .world1{
    color:white;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.sect6 .aworld{
    text-transform: uppercase;
    color:#1CA8C3;
    font-size: 15px;
    font-weight: 400;
    line-height: 0px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top:440px;
    display: inline-block;
    margin:0 auto;
}

.sect7{
    height:142px;
    margin-top: 20px;
}

.sect7 .divfot{
    display: block;
    margin: 0 auto;
    background-color:#1CA8C3;
    width:301px;
    height:7px;
}

.sect7 .divfle{
    display: flex;
    justify-content: center;

}
.xs-visible{
    display: none;
}

header nav{
   background-color: #212121;
}

.sect7 .divfle a{
    margin: 22px 20px 0px 20px;
    color:black;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

.sect7 .divfle2{
    display: flex;
    justify-content: center;
}

.sect7 .divfle2 .a34{
    text-decoration: none;
    margin: 16px 20px 0px 20px;
    text-transform: uppercase;
    color:gray;
    font-size: 11px;
    font-weight: 300;
    text-align: left;
}

.sect7 .divfle3{
    width:363px;
    display: flex;
    position: relative;
    align-items: center;
    bottom:40px;
    left:16px;
}


.sect7 .divfle3 a{
    margin: 0px 4px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 35px;
    height:35px;
    border-radius:50%;
}

.sect7 .divfle3 a img{

}

@media (min-width:1400px){
    header nav .ul1 li{
        padding-right: 43px;
        font-size: 18px;
    }
}

@media (min-width:1200px){
    
    header nav .ul1 li{
        padding-right: 32px;
        font-size: 16px;
    }
    header nav .ul1{
        padding: 0px 53px;
    }
}

@media (max-width:1199px){

    .sect1 h1{
        font-size: 49px;
    }
    header .hed button{
        
    }
    header .hed .divblock2{
        display: block;
        text-align: center;
    }
    header nav .ul1{
        padding: 0px 53px;
    }
    header nav .ul1 li{
        padding-right: 19px;
        font-size: 15px;
    }
    .sect2 .text_descr{
        width:290px;
    }
    .sect2 p{
        font-size: 16px;
    }
    .sect2 .blockglav .blocknis{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .sect3 .card{
        width:268px;
    }
}

@media (max-width:991px){
    header nav .ul1{
        padding: 0 65px;
    }
    header nav .ul1 li{
        padding-right: 10px;
        font-size: 11px;
    }
    header .divblock1 .img1{
        width:100%;
    }
    header .hed .divblock1 .p1{
        font-size: 12px;
    }
    header .hed .divblock2 .a2{
        font-size: 22px;
    }
    .sect1 h1{
        font-size: 44px;
    }
    .sect1 h2{
        font-size: 30px;
    }
    .sect2 .h2two{
        font-size: 36px;
    }

    .sect2 .blockglav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }

    .sect2 .blockglav .blockreas{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    .sect3 .row{
       margin-bottom: 20px;
      
       display: flex;
       justify-content: center;
    }
}

@media (max-width:767px){
    .sect4 .uber{
        width:100%;
    }
    header nav .ul1{
        padding: 0px 2px;
    }
    header nav .ul1 li{
        font-size: 4px;
        padding-right: 4px;
    }
    .sect3 .card{
        width:310px;
    }
    header button{
        width:100%;
        line-height: 20px;
    }
    .xs-hidden {
        display: none;
    }
    .xs-visible{
        display: block;
    }
    header .hed .a2{
    margin-top: 18px;
    text-decoration: none;
    color:white;
    font-size: 19px;
    font-weight: 400;
    line-height: 0px;
    text-align: center;
}
    header .hed button{
        width:170px;
        height:40px;
    }
    .sect1 h1{
        font-size: 33px;
    }
    .sect1 h2{
        padding-top: 6px;
        font-size: 22px;
    }
    .sect2 .blockglav{
        margin-top: 38px;
    }
    .sect2 .blockglav .text_descr h6{
        text-align: center;
    }
    .sect2 .blockglav .text_descr{
        align-items: center;
        text-align: center;
    }
    .sect2 .h2two{
        font-size: 26px;
    }
    .sect3 .h2mobile{
        font-size: 30px;
    }

}
@media (max-width:575px){
    .sect1 h1{
        line-height: 38px;
        font-size: 37px;
    }
    .sect1 h2{
        line-height: 28px;
    }
    .sect1 .p3{
        display: none;
    }
    .sect1 .p4{
        display: none;
    }
    header .hed button{
        width:100%;
    }
    header .hed .divblock1 .p1{
        display: none;
    }
    header .hed button{
    }
    header .hed .divblock1 a .img1{
        margin-top: 30px;
    }
    header .hed .a2{
        font-size: 17px;
    }
    .sect2 .h2two{
        font-size: 15px;
    }
    .sect2 .blockglav{
        margin-top: 24px;
    }
    .sect3 .h2mobile{
        font-size: 20px;
    }
    .sect3 .p7{
        font-size: 17px;
    }
    .sect3 .card{
        width:293px;
        position: relative;
        right: 62px;
    }
    .sect4 .divblack .uber{
        width:100%;
        margin: 149px auto 0px auto;
    }
    .sect4 .divblack h2{
        font-size: 27px;
    }
    .sect4 .p12{
        position: absolute;
        bottom:223px;
        font-size: 14px;
    }
    .sect6 h3{
        font-size: 33px;
    }
    .sect4{
        height:400px;
    }
    .sect7 .divfle a{
        margin: 22px 5px 0px 5px;
        font-size: 15px;
    }

    .sect7 .divfle2{
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
    }

    .sect7 .divfle2 .a34{
        margin: 0px 6px 0px 6px;
        line-height: 7px;
        padding-top: 14px;
        font-size: 12px;
    }
    .sect5 .ul10{
        padding-left: 30px;
    }
    .sect5 .club h5{
        font-size: 18px;
        text-align: center;
    }
    .sect1{
        padding: 93px 0 35px 0;
    }
    .sect2{
        padding: 22px 0 36px 0;
    }
}











